.committee-member-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  & > div {
    &:first-child {
      grid-column-start: 1;
      grid-column-end: 5;
    }
  }
}
.committee-member-box {
  height: 100%;
  border: 1px solid $primary-color-05;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.2s;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 25px 20px -20px;

  .committee-member-thumb {
    border-radius: 4px 4px 0 0;
    overflow: hidden;

    img {
      transition: 0.2s;
    }
  }
  .committee-member-summary {
    padding: 16px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
    color: $text-color-70;
    margin-bottom: 2px;
  }

  &:hover {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transform: translateY(-4px);

    .committee-member-thumb {
      img {
        transform: scale(1.02);
      }
    }
  }
}