
.floating-chat-body {
  max-height: 350px;
  min-height: 200px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;

  /* Edge and Internet Explorer */
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.floating-chat-footer {
  min-height: 80px;
  position: relative;
  margin-top: 20px;

  textarea {
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    border: 1px solid $text-color-20;
    outline: none;
    min-height: 60px;
    border-radius: 4px;

    &:focus {
      & + .chat-editor-helper {
        visibility: visible;
      }
    }
  }

  button {
    width: 60px;
    height: 60px;
    background: radial-gradient(#fff, #d8d8d8);
    border: 1px solid $text-color-20;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .chat-editor-helper {
    //visibility: hidden;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      gap: 5px;

      li {
        cursor: pointer;
      }

      img {
        max-width: 18px;
        opacity: 0.6;
      }
    }
  }
}

.chat-conversation {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;

  & > div {
    &:first-child {
      flex: 0 0 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 100%;
      overflow: hidden;
    }
  }

  .message-header {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    margin-bottom: 4px;

    p, time {
      margin: 0;
    }

    time {
      color: $text-color-60;
      font-size: 12px;
    }

  }

  .message-body {
    padding: 8px 16px;
    background-color: $text-color-10;
    border-radius: 4px;

    p {
      margin: 2px 0;
    }
  }
}

.agent-conversation {
  direction: RTL;

  time {
    direction: ltr;
  }

  .message-body {
    background-color: $primary-color-20;
  }

  & + .agent-conversation {

    .user-thumb {
      display: none;
    }

    .user-message {
      display: flex;
      flex-direction: column-reverse;
    }

    .message-header {
      p {
        display: none;
      }
    }
  }
}

.guest-conversation {

  & + .guest-conversation {

    .user-thumb {
      display: none;
    }
    .user-message {
      display: flex;
      flex-direction: column-reverse;
    }
    .message-header {
      p {
        display: none;
      }
    }
  }
}