.news-item-box {
  padding: 16px;
  border: 1px solid $primary-color-05;
  background-color: #fff;
  border-radius: 4px;
  transition: 0.2s;

  .news-summary {
    padding-top: 16px;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        display: inline-block;

        a {
          text-decoration: none;
          font-size: 14px;
          color: $text-color-50;
        }
      }
    }

    h3 {
      //font-size: 24px;

      a {
        text-decoration: none;
        color: initial;
      }
    }

    p {
      font-size: 14px;
      color: $text-color-70;
    }

    & > a {
      text-decoration: none;
      color: $primary-color-100;
      font-size: 14px;

      i {
        font-size: 14px;
        transform: translateX(10px);
        transition: 0.2s;
      }

      &:hover {
        i {
          transform: translateX(15px);
        }

        font-weight: 500;
        color: $primary-color-100;
      }
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}