
.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  position: relative;

  .swiper-slide-content {
    position: absolute;
    //top: 0;
    bottom: 0;
    width: 100%;
    //height: 100%;
    padding: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(30, 52, 140, 0.6);
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h2 {
      color: #ffffff;
      //padding: 10px 20px;
      //background-color: $primary-color-50;
      text-shadow: 2px 2px 2px #000000;
      @media screen and (min-width: 990px) {
        //font-size: 75px;
      }
    }

    p {

      color: #ffffff;
      //padding: 10px 20px;
      //background-color: $primary-color-50;
      text-shadow: 5px 5px 5px #000000;
      @media screen and (min-width: 990px) {
        //font-size: 22px;
      }
    }
  }

  &.swiper-slide-active {


    h2 {
      animation: slideDown 1s;
    }

    p {
      animation: slideUp 1s;
    }
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-70px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(70px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.swiper-pagination {
  z-index: 1;
}

.swiper-button-next, .swiper-button-prev {
  z-index: 1;
}

.bangla-font {
  font-family: "Noto Serif Bengali", sans-serif;
}