$primary-color-100: #1e348c;
$primary-color-90: #354897;
$primary-color-80: #4B5DA3;
$primary-color-70: #6271AF;
$primary-color-60: #7885BA;
$primary-color-50: #8F99C5;
$primary-color-40: #A5AED1;
$primary-color-30: #BBC2DD;
$primary-color-20: #D2D6E8;
$primary-color-10: #E8EBF3;
$primary-color-05: #F4F5F9;

$text-color-100: #343434;
$text-color-90: #484848;
$text-color-80: #5D5D5D;
$text-color-70: #717171;
$text-color-60: #858585;
$text-color-50: #9A9A9A;
$text-color-40: #AEAEAE;
$text-color-30: #C2C2C2;
$text-color-20: #D6D6D6;
$text-color-10: #EBEBEB;
$text-color-05: #F5F5F5;

$bg-color: $text-color-05;